<div style="display: inline-block; width: 100%;">
    <div style="width: fit-content; float: right; margin-top: 10px; text-align: center;">
        <qrcode [qrdata]="roomAddress" [scale]="8" [margin]="2"></qrcode>
    </div>

    <h2>Lobby</h2>

    <p>
        Send this url to your friends, <br />
        or show them the QR code to join the game!
    </p>
    <p>
        <input value="{{roomAddress}}" readonly [size]="roomAddress.length" #roomAddressInput>
        <button #copyRoomAddressButton (click)="copyRoomAddressToClipboard(roomAddressInput, copyRoomAddressButton)">Copy</button>
        <span [hidden]="true">Copied!</span>
    </p>
</div>

<!-- Show room controls to owner -->
<div *ngIf="room.currentUser.id === room.owner.id">
    <button (click)="startGame()" style="width: 200px; height: 50px;">Start game</button>

    <h3>Change the active card sets:</h3>
    <table *ngIf="sets; else setsNotLoaded">
        <tr *ngFor="let set of sets" [class.highlighted]="set.isSelected">
            <td>
                <input type="checkbox" id="{{set.info.id}}" [(ngModel)]="set.isSelected">
            </td>
            <td>
                <label style="font-size: larger;" for="{{set.info.id}}">
                    <span style="font-weight: bold;">{{set.info.name}}</span>
                    <br />
                    {{set.info.cardCount}} cards
                </label>
            </td>
            <td>
                <app-card-picker [cards]="set.info.cards" [isEnabled]="false" [imageHeightVh]="10">
                </app-card-picker>
            </td>
        </tr>
    </table>
    <ng-template #setsNotLoaded>
        Loading available sets...
    </ng-template>

    <h3>Change the rules:</h3>
    <table>
        <tr *ngFor="let key of Object.keys(rules)">
            <td><label for="{{key}}">{{key}}</label></td>
            <td>
                <div [ngSwitch]="getInputType(key)">
                    <div *ngSwitchCase="'object'">
                        <div *ngFor="let set of sets" style="display: inline-block;">
                            <div *ngIf="set.isSelected" style="margin-right: 5px;">
                                <app-card-picker [cards]="set.info.cards" [isEnabled]="false" [imageHeightVh]="3">
                                </app-card-picker>
                            </div>
                        </div>
                    </div>
                    <input id="{{key}}" *ngSwitchCase="'checkbox'" type="checkbox" [(ngModel)]="rules[key]">
                    <input id="{{key}}" *ngSwitchDefault [type]="getInputType(key)" [(ngModel)]="rules[key]">
                </div>
            </td>
        </tr>
    </table>
    <button (click)="resetRules()">Reset default rules</button>
</div>