<h2>Voting</h2>
<app-story-title [room]="room"></app-story-title>
<div *ngIf="!room.isSpectator &&
           room.gameState.storyTeller.id !== room.currentUser.id &&
           room.localState.myVotedCardIds.length === 0 &&
           !alreadyVoted;
           else waitingBlock">
    <p>
    </p>

    <app-card-picker [cards]="room.localState.voteCardIds" [(selectedCards)]="voteCards"
        [maxSelectedCardCount]="room.gameState.rules.maxVoteCount" [blockedCards]="room.localState.mySubmittedCardIds">
    </app-card-picker>
    <br />

    <button (click)="voteForCard()" class="bigButton" [disabled]="alreadyVoted || voteCards.length === 0">
        Vote for card!
    </button>

    <div style="margin-top: 2em;">
        <img src="assets\info.png" width="30px"><br />
        Try to pick the card of the story teller! You can not pick your own cards.<br />
        If you guess right using 1 vote, you get
        <span [ngPlural]="room.gameState.rules.pointsSomebodyGuessedRight">
            {{room.gameState.rules.pointsSomebodyGuessedRight}}
            <ng-template ngPluralCase="=1">point</ng-template>
            <ng-template ngPluralCase="other">points</ng-template>
        </span>!<br>
        <span *ngIf="room.gameState.rules.maxVoteCount > 1">
            If you guess right using {{room.gameState.rules.maxVoteCount}} votes, you get
            <span [ngPlural]="room.gameState.rules.pointsSomebodyGuessedRightUsingMultipleVotes">
                {{room.gameState.rules.pointsSomebodyGuessedRightUsingMultipleVotes}}
                <ng-template ngPluralCase="=1">point</ng-template>
                <ng-template ngPluralCase="other">points</ng-template>
            </span>!<br>
        </span>
    </div>
</div>

<ng-template #waitingBlock>
    <app-card-picker [cards]="room.localState.voteCardIds" [(selectedCards)]="voteCards" [isEnabled]="false">
    </app-card-picker>
    <p>Waiting for others to vote...</p>
</ng-template>

<app-your-hand [room]="room"></app-your-hand>
