<h2>Room {{room.id}}</h2>
<button *ngIf="isOwner" (click)="lobby()">Lobby</button>
<button *ngIf="isOwner" (click)="startGame()">Start game</button>
<button *ngIf="isOwner" (click)="showPartialResults()">Partial results</button>
<button *ngIf="isOwner" (click)="startRound()">Start round</button>

<!-- <div *ngIf="room.playerState?.hand">
    <h2>Hand:</h2>
    <img *ngFor="let card of room.playerState.hand" src="card/{{card.path}}" style="height: 20vh;">
</div> -->

<!-- Additional icons to consider: '📶🚫' -->
<div *ngIf="room.playerState?.players">
    <h2>Players</h2>
    <ul>
        <li *ngFor="let playerState of room.playerState.players">
            {{playerState.isReady ? '✔' : '⏳'}}
            {{playerState.isConnected ? '' : '⚠'}}
            {{playerState.userInfo.name}},
            Hand size: {{playerState.handSize}},
            Points: {{playerState.points}}
            <span *ngIf="room.gameState.storyTeller.id === playerState.userInfo.id">[STORYTELLER]</span>
        </li>
    </ul>
</div>
<ng-template room-content></ng-template>