<!-- If the player IS the story teller -->
<h2>The story is:</h2>
<p style="font-style: italic;">"{{room.gameState.story}}"</p>

<div *ngIf="room.gameState.storyTeller.id === room.currentUser.id">
    <img src="card/{{room.gameState.storyCardId}}" style="height: 50vh;"/>
    <h2>Waiting for everybody else to extend the story...</h2>
</div>

<!-- If the player is NOT the story teller -->
<div *ngIf="room.gameState.storyTeller.id !== room.currentUser.id">
    <h2>Extend the story!</h2>
    <p>Pick a card which you think is fit for the story.</p>

    <app-card-picker [cards]="room.playerState.hand" [(selectedCard)]="extendCard" ></app-card-picker>
    <br />

    <button [disabled]="!extendCard">Pick card!</button>
</div>