<h2>Extend the story</h2>
<app-story-title [room]="room"></app-story-title>
<app-card-picker [cards]="room.localState.voteCardIds | cardFacedown" [isEnabled]="false"
    [isOverlayIconEnabled]="false"></app-card-picker>

<!-- Player IS the story teller -->
<div *ngIf="room.gameState.storyTeller.id === room.currentUser.id">
    <h2>Waiting for everybody else to extend the story...</h2>
</div>

<!-- Player is NOT the story teller -->
<div
    *ngIf="room.gameState.storyTeller.id !== room.currentUser.id && !room.localState.mySubmittedCardId && !alreadySubmittedCard; else: waitingBlock">
    <p>Pick a card from your hand which you think is fit for the story.</p>

    <app-card-picker [cards]="room.myState.hand" [(selectedCard)]="extendCard"></app-card-picker>
    <br />

    <button class="bigButton" (click)="extendStory()" [disabled]="!extendCard">Pick card!</button>
</div>

<ng-template #waitingBlock>
    <p>Waiting for others to extend the story...</p>
</ng-template>