<h2>Available rooms</h2>

<ul *ngIf="rooms">
    <li *ngFor="let room of rooms">
        <button (click)="this.joinRoom(room.id)">Join</button>
        &nbsp;<span style="font-size: small;">[{{room.id}}]</span>&nbsp;
        <span style="font-weight: 800;">{{room.name}}</span> - 
        <span *ngFor="let player of room.players; let i=index;">
            <span [style.font-weight]="player.name===room.owner.name?800:0">{{player.name}}</span>
            <span *ngIf="i < room.players.length - 1">, </span>
        </span>
    </li>
</ul>