<%- include('partials/header.ejs'); -%>
<script src="/scripts/socket.js"></script>

<p>Joined room: <%= room.id %></p>
<p>Owner: <%= room.owner.name %></p>
<p>
    Players: <span id="playerList"></span>
</p>

<%- include('partials/footer.ejs'); -%>