<!DOCTYPE html>
<html>

<head>
    <!-- Works but throws error every time... -->
    <!-- <title><'%= title %></title> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.1.0/uuidv4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/jquery-3.5.1.min.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/render.js"></script>
</head>

<body>
    <a href="/">Home</a> <a href="/rooms">Rooms</a>
    <hr>