div
    display: inline-block
    
div.cardPreview + div.cardPreview
    margin-left: 5px
    
[type=radio] + img.selectable
    cursor: pointer

$selectedBorder: 4px solid #f00

[type=radio]:checked + img 
    outline: $selectedBorder

.selected
    outline: $selectedBorder

.blocked
    cursor: not-allowed

.cardPreview
    position: relative

// The Modal (background)
.modal
    display: block
    position: fixed // Stay in place
    z-index: 1 // Sit on top
    left: 0
    top: 0
    width: 100% // Full width
    height: 100% // Full height
    overflow: auto // Enable scroll if needed
    background-color: rgb(0,0,0) // Fallback color
    background-color: rgba(0,0,0,0.9) // Black w/ opacity

// Modal Content (image)
.modal-content
    margin: auto
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    display: block
    // padding: 2% 2% 80px 2%
    margin-top: 35px
    max-width: 95%
    max-height: 85%
    cursor: pointer

.modal-background
    margin: 0 0 4% 0
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    heigth: 100%
    display: block
    cursor: pointer

.modal-closeButton
    position: absolute
    top: 7px
    right: 10px
    color: #FFFFFF
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-size: 4vh
    font-weight: 800
    line-height: .7
    cursor: pointer

.modal-controls
    position: absolute
    width: 100%
    text-align: center
    bottom: 30px
    left: 0
    right: 0
    color: #FFFFFF
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-size: 4vh
    font-weight: 800
    line-height: .7

.modal-controls span
    border: 2px solid #FFFFFF
    padding: 0 10px
    cursor: pointer

.modal-controls span + span
    margin-left: 10vw

.modal-controls span.hideControl
    opacity: 0
    cursor: default

.overlay-icon
    position: absolute
    bottom: 5%
    right: 5%
    cursor: pointer
    opacity: 0.6
    transition: 0.3s

.overlay-icon:hover
    opacity: 1

.selectDisable 
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -o-user-select: none
    user-select: none
