<label *ngFor="let card of cards | emptyCardToCardback">
    <ng-container *ngIf="{ isBlocked: blockedCards.includes(card) } as c">
        <input class="hidden" type="radio" id="{{card}}" name="card" [value]="card" [(ngModel)]="selectedCard"
            [disabled]="!isEnabled || c.isBlocked" (change)="_selectedCardChange()" />
        <img src="card/{{card}}" (dblclick)="displayCard(card)" [class.selectable]="isEnabled && !c.isBlocked"
            [class.blocked]="c.isBlocked" [style.height.vh]="imageHeightVh">

    </ng-container>
</label>

<!-- The Modal -->
<div *ngIf="displayedCard" class="modal" (click)="displayCard()">
    <img class="modal-content" src="card/{{displayedCard}}">
</div>