<div *ngFor="let card of cards | emptyCardToCardback" class="cardPreview selectDisable">
    <ng-container *ngIf="{ isBlocked: blockedCards.includes(card) } as c">
        <label>
            <input class="hidden" type="radio" id="{{card}}" name="card" [value]="card" [(ngModel)]="selectedCard"
                [disabled]="!isEnabled || c.isBlocked" (change)="_selectedCardChange()" />
            <img src="card/{{card}}" (dblclick)="displayCard(card)" [class.blocked]="c.isBlocked"
                [style.height.vh]="imageHeightVh" [class.selectable]="isEnabled && !c.isBlocked">
        </label>
        <img *ngIf="isOverlayIconEnabled" class="overlay-icon" src="assets/maximize.png" (click)="displayCard(card)"
            [style.height.vh]="imageHeightVh / 6">
    </ng-container>
</div>

<!-- The Modal -->
<div *ngIf="displayedCard" class="modal selectDisable" (wheel)="onWheelEvent($event)">
    <div class="modal-background" (click)="displayCard()">&nbsp;</div>
    <img class="modal-content" src="card/{{displayedCard}}"
        (click)="isEnabled ? selectCard(displayedCard) : displayCard()" (dblclick)="displayCard()"
        [class.selected]="isEnabled && selectedCard === displayedCard">
    <span class="modal-closeButton" (click)="displayCard()">x</span>
    <div class="modal-controls">
        <span (click)="changeDisplayedCard(-1)" [class.hideControl]="cards[0] === displayedCard">&lt;</span>
        <span [style.opacity]="selectedCard === displayedCard ? 1 : 0">
            ✔
        </span>
        <span (click)="changeDisplayedCard(1)"
            [class.hideControl]="cards[cards.length - 1] === displayedCard">&gt;</span>
    </div>
</div>