<div *ngFor="let card of cards | emptyCardToCardback" class="cardPreview selectDisable">
    <ng-container *ngIf="{
            isBlocked: blockedCards.includes(card),
            isSelected: selectedCards.includes(card)
        } as c">
        <label>
            <div [style.height.vh]="imageHeightVh" [style.minWidth.vh]="imageHeightVh * .665">
                <img *ngIf="!loadedCards.has(card)" src="assets/loading-cardback.jpg" [style.height.vh]="imageHeightVh"
                    style="position: absolute; top:0; left:0;">
                <input class="hidden" type="checkbox" id="{{card}}" name="card" [value]="card"
                    [(ngModel)]="c.isSelected" [disabled]="!isEnabled || c.isBlocked"
                    (change)="selectCard(card, $event.target.checked)" />
                <img src="card/{{card}}" (dblclick)="displayCard(card)" [class.blocked]="c.isBlocked"
                    [style.height.vh]="imageHeightVh" [class.selectable]="isEnabled && !c.isBlocked"
                    (load)="loadedCards.add(card)" style="position: relative; top:0; left:0;">
            </div>
        </label>
        <img *ngIf="isOverlayIconEnabled && loadedCards.has(card)" class="overlay-icon" src="assets/maximize.png"
            (click)="displayCard(card)" [style.height.vh]="imageHeightVh / 6">
    </ng-container>
</div>

<!-- The Modal -->
<div *ngIf="displayedCard" class="modal selectDisable" (wheel)="onWheelEvent($event)">
    <div class="modal-background" (click)="displayCard()">&nbsp;</div>
    <img class="modal-content" src="card/{{displayedCard}}"
        (click)="isEnabled ? selectCard(displayedCard, true) : displayCard()" (dblclick)="displayCard()"
        [class.selected]="isEnabled && selectedCards.includes(displayedCard)">
    <span class="modal-closeButton" (click)="displayCard()">x</span>
    <div class="modal-controls">
        <span (click)="changeDisplayedCard(-1)" [class.hideControl]="cards[0] === displayedCard">&lt;</span>
        <span [style.opacity]="selectedCards.includes(displayedCard) ? 1 : 0" (click)="displayCard()">
            ✔
        </span>
        <span (click)="changeDisplayedCard(1)"
            [class.hideControl]="cards[cards.length - 1] === displayedCard">&gt;</span>
    </div>
</div>
