<!-- If the player IS the story teller -->
<div *ngIf="room.gameState.storyTeller.id === room.currentUser.id">
    <h2>You are the story teller!</h2>
    <p>Pick a card, and make up a short sentence as the story.</p>

    <app-card-picker [cards]="room.myState.hand" [(selectedCard)]="storyCard" ></app-card-picker>
    <br />

    <input [(ngModel)]="story" type="text" placeholder="Write your story here..." />
    <button (click)="sendStory()" [disabled]="!storyCard || !story">Send story!</button>
</div>

<!-- If the player is NOT the story teller -->
<div *ngIf="room.gameState.storyTeller.id !== room.currentUser.id">
    <h2>Waiting for {{room.gameState.storyTeller.name}}, the story teller...</h2>
    <p>Please wait while {{room.gameState.storyTeller.name}} makes up a story.</p>
</div>